@import "./variables.scss";
.discovercity-wrapper {
    align-items: center;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    margin-top: 12px;
    padding: 0 0 0 16px;

    h2 {
        align-self: center;
        font-size: 14px;
        font-weight: 600;
        grid-column: 1 / 2;
        justify-self: start;
        letter-spacing: 0.15;
    }
    a {
        align-self: center;
        color: $primary-color;
        font-size: 0.75rem;
        font-weight: 600;
        grid-column: 2 / 3;
        justify-self: end;
        margin-right: 18px;
        text-decoration: none;
    }
    .discover-slider {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .swiper-wrapper {
        .swiper-slide {
            text-align: center;
            .country-block {
                &__image {
                    border: 1px solid $primary-color;
                    border-radius: 29px;
                    height: 58px;
                    object-fit: cover;
                    width: 58px;
                    img {
                        border: 2px solid $white;
                        border-radius: 29px;
                        object-fit: cover;
                    }
                }
                &__name {
                    font-size: 0.75rem;
                }
                a {
                    color: $black;
                    font-weight: 400;
                }
            }
        }
    }
}
